{% extends "base.html" %}

{% block content %}
<style>
table, th, td {
  border:1px solid black;
  text-align: center;
  vertical-align: middle;
}
</style>
<body>

<h2>Table with your processed videos</h2>

<table class="table table-dark" style="width:100%">
  <tr>
    <th>Video ID</th>
    <th>Filename</th>
  </tr>

  <!-- Para cada video videoid, filename anadir una columna a la tabla -->
  
  {% for videoid, filename in listavideos %}
  <tr>
    <td><a href="{{ url_for('showfaces', videoid=videoid) }}">{{ videoid }}</a></td>
    <td>{{ filename }}</td>
  </tr>
  {% endfor %}
  <tr>
</table>

</body>
{% endblock %}

