{% extends "base.html" %}

{% block custom_style %}
 <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="form-signin">
    <h3 class="h3 mb-3 fw-normal">Sign Up</h3>
    <div class="form-floating">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/register">
            <div class="form-floating">
                <div class="control">
                    <input id="floatingInput" class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="form-floating">
                <div class="control">
                    <input id="floatingInput" class="form-control" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="form-floating">
                <div class="control">
                    <input id="floatingPassword" class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
</div>
{% endblock %}