{% extends "base.html" %}

{% block custom_style %}
 <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form method ="POST" enctype = "multipart/form-data">
    <h1>Choose Video to Upload</h1>
    <label for="file">Vídeo: </label>
    <input class="form-control" type="file" name="file"/>
    <button class="w-100 btn btn-lg btn-primary" type="submit" type="submit">Submit</button>
</form>
{% if respuesta %}
    <p class="error"><strong>Fichero subido con exito:</strong> {{ respuesta }}</p>
    <p class="error"><strong>El video estará disponible en "My Videos" cuando se procese</strong></p>
{% endif %}
{% endblock %}